{% extends "FrontendBundle::landingLayout.html.twig" %}

{% block layoutInputs %}
    <div class="note note-success">
        <h4 class="ar">
            <i class="fa fa-check"></i>&nbsp;
            شكرا لك علي استخدام توصيله
        </h4>
    </div> 
{% endblock %}